<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />

<link href="/css/styles.css" rel="stylesheet" />

<title>iClassify - DCS</title>
</head>

<body>

	<div align="center">

		<div th:replace="fragments/header :: header"></div>

		<div class="header">

			<table class="blueTable">
				<thead>
					<tr>
						<th style="width: 100%;" align="center" colspan="2">Manage
							Accounts</th>
					</tr>
				</thead>

				<tr align="center">
					<td><a href="/index" target="nistpack">Index</a></td>
				</tr>

			</table>


			<table class="blueTable" style="border: 1px">
				<thead>
					<tr>
						<th>Username</th>	
						<th>Group</th>	
						<th>Email Address</th>
						<th>Enabled</th>	
						<th>Created</th>	
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr th:if="${userList.empty}">
						<td colspan="2">No Users available</td>
					</tr>
					<tr th:each="user : ${userList}">
						<td><span th:text="${user.username}"> Username </span></td>
						<td><span th:text="${user.userGroup}"> User Group </span></td>
						<td><span th:text="${user.emailAddress}"> Email Address </span></td>
						<td><span th:text="${user.enabled}"> isEnabled </span></td>
						<td><span th:text="${user.created}"> Created </span></td>
						<td><i class="fas fa-edit fa-sm"></i><i class="fas fa-trash fa-sm"></i><span th:text="${user.userId}"></td>
					</tr>
				</tbody>
			</table>


		</div>



		<div th:replace="fragments/footer :: footer"></div>


	</div>


</body>

</html>