<!-- list.html -->
<!DOCTYPE html>
<html>
<head th:replace="fragments/base :: baseHead(~{::title}, ~{::link})">
<meta charset="ISO-8859-1" />

<link href="/css/styles.css" rel="stylesheet" />

<title>iClassify - DCS</title>
</head>

<body> 

	<div align="center">

		<div th:replace="fragments/header :: header"></div>

		<div class="header">

			<table class="blueTable" style="border: 1px">
				<thead>
					<tr>
						<th>Filename</th>	
						<th>Description</th>	
						<th>Document Type</th>	
						<th>Action</th>	
					</tr>
				</thead>
				<tbody>
					<tr th:if="${documentList.empty}">
						<td colspan="3">No document available</td>
					</tr>
					<tr th:each="document : ${documentList}">
						<td><span th:text="${document.originalFilename}"> Filename </span></td>
						<td><span th:text="${document.description}"> Description </span></td>
						<td><span th:text="${document.documentType}"> Document Type </span></td>
						<td><i class="fas fa-globe fa-sm"></i> <i class="fas fa-edit fa-sm"></i><i class="fas fa-trash fa-sm"></i><!-- <span th:text="${document.documentId}"> --></td>
					</tr>
				</tbody>
			</table>


		</div>


		<div th:replace="fragments/footer :: footer"></div>


	</div>


</body>

</html>