<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />

<link href="/css/styles.css" rel="stylesheet" />

<title>iClassify - DCS</title>
</head>



<div

	style="position: absolute; top: 30%; left: 50%; margin-top: -100px; margin-left: -250px; width: 500px; height: 200px;">

	<form role="form" action="authenticate/verify" method="post">>

		<table class="blueTable">
			<thead>
				<tr>
					<th>Welcome to Document Classification System</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<table align="center">
							<tr>
								<td><label for="username">Username:</label></td>
								<td><input type="text" id="username" name="username" /></td>
							</tr>
							<tr>
								<td><label for="username">Password:</label></td>
								<td><input type="text" id="password" name="password" /></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>

						<button type="submit" class="btn btn-primary">Connect</button>
					</td>
				</tr>

			</tbody>


		</table>
	</form>
</div>